html {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

body,
main {
    display: flex;
    flex-direction: column;
}

article {
    flex: 2;
    overflow: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    height: 1000px;
}

body {
    background-image: url(images/cryp.jpg);
    background-size: cover;
    z-index: -1000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: cover;
    filter: blur(9px);
    transform: scale(1.0); */
}

main {
    flex-direction: row;
    flex: auto;
}


/* Menu Navigation*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h4 {
    color: #ff9416;
}


/* Menu Navigation */

.at-item {
    color: #3079ed;
    animation-name: fade-in;
    animation-duration: 4s;
    animation-timing-function: normal;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    height: 60px;
    text-align: center;
    font-size: 45px;
    color: #e98b2d;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.at-item2 {
    color: #3079ed;
    animation-name: fade-in;
    animation-duration: 4s;
    animation-timing-function: normal;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    height: 60px;
    text-align: center;
    font-size: 55px;
    color: rgb(0, 172, 238);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.at-item3 {
    color: #3079ed;
    animation-name: fade-in;
    animation-duration: 4s;
    animation-timing-function: normal;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    text-align: center;
    font-family: Fantasy;
    font-size: 45px;
    color: rgb(255, 0, 0);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

p {
    font-size: 20px;
    color: white;
}

.big {
    width: 60%;
    height: 60%;
}

footer {
    position: relative;
    bottom: 0px;
}

footer a {
    color: rgb(255, 0, 98) !important;
    text-decoration: none;
}

footer span {
    color: blue !important;
}

li a {
    color: white !important;
}

li a:hover {
    color: #aa0f33;
}

li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #ff9416;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

li a:hover::before {
    transform: scaleX(1);
}

li a {
    position: relative;
    color: #ff9416;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fb-share-button {
    padding-left: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}